@model IEnumerable<IClothingApplication.Models.ItemWrapper>

@{
    ViewBag.Title = "View Cart";
}

<h2>Viewing Cart for @Session["UserName"]</h2>

<div>
    <h4>Your Cart</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Product.productName)*@
                Product Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.productQty)*@
                Product Quantity
            </th>
            <th></th>
        </tr>

        @if (Model != null)
        {

            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.productName)
                    </td>
                    @if (item.productQty > item.Product.productQty)
                    {
                        <td class="bg-danger bg-opacity-25 position-relative" title="Product Stock Lower Than Cart Quantity" >
                            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                <span class="visually-hidden">New alerts</span>
                            </span>
                            @Html.DisplayFor(modelItem => item.productQty)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.productQty)
                        </td>
                    }

                    <td>
                        @Html.ActionLink("Edit", "EditItem", new { id = item.productID }, new { @class = "text-dark" })
                        @*@Html.ActionLink("Details", "ItemDetails", new { id = item.productID }) |*@
                        @Html.ActionLink("Delete", "DeleteItem", new { id = item.productID }, new { @class = "text-dark" })
                    </td>
                </tr>
            }
        }
    </table>

    <div class="form-actions no-color">
        @Html.ActionLink("Checkout", "Checkout", new { }, new { @class = "btn btn-outline-success" })
    </div>
</div>