<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    <script src="https://unpkg.com/@("@")popperjs/core@2"></script>
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("iClothing", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">

                    @if (Session["UserType"] == "customer")
                    {
                        <li>@Html.ActionLink("Dashboard", "Dashboard", "Home", new { area = "" }, new { @class = "nav-link text-light" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link text-light" })</li>
                    }
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link text-light" })</li>
                    @*<span class="navbar-text mx-2"></span>*@
                    @if (Session["UserType"] == "customer")
                    {
                        if (Session["departments"] != null)
                        {
                            <li class="dropdown show">
                                <a class="nav-link dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Departments
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    @foreach (var department in (IEnumerable<IClothingApplication.Models.Department>)Session["departments"])
                                    {
                                        @Html.ActionLink(department.departmentName, "Index", "Products", new { sortOrder = ViewBag.sortOrder, filter = department.departmentName, filterType = "Department", searchString = ViewBag.searchString, changeSort = false, }, new { @class = "dropdown-item" })
                                    }
                                </div>
                            </li>
                        }
                        <li>@Html.ActionLink("Products", "Index", "Products", new { area = "" }, new { @class = "nav-link text-light" })</li>
                    }
                    else if (Session["UserType"] == "admin")
                    {
                        <li>@Html.ActionLink("Dashboard", "Dashboard", "Home", new { area = "" }, new { @class = "nav-link text-light" })</li>
                    }
                    else
                    {

                        <li>@Html.ActionLink("Products", "Index", "Products", new { area = "" }, new { @class = "nav-link text-light" })</li>
                    }

                    @*<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Departments", "Departments", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Categories", "Categories", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("All Products", "All Products", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@

                </ul>
            </div>
            <div class="">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @using (Html.BeginForm("Index", "Products", FormMethod.Post, new { @class = "form-inline me-2" }))
                        {
                            <input type="text" name="searchString" placeholder="Search Items" class="form-control" style="background: rgba(150,150,150,0.1); border: none; color: white;" />
                            @*<input type="submit" value="Search" class="btn btn-outline-success my-2 my-sm-0" />*@
                        }
                    </li>
                    @if (Session["UserID"] != null)
                    {
                        string username = @Session["UserName"].ToString();
                        <li class="dropdown show">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Welcome @username
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                @if(Session["UserType"] == "customer") 
                                {
                                    @Html.ActionLink("My Cart", "ViewCart", "ShoppingCarts", new { area = "" }, new { @class = "dropdown-item", style ="color: #007bff" })
                                    @Html.ActionLink("Emails", "Index", "Emails", new {area = "" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Write a Query", "Create", "UserQueries", new {area = "" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Send a Comment", "Create", "UserComments", new {area = "" }, new { @class = "dropdown-item" })
                                }
                                else 
                                {
                                    @Html.ActionLink("Emails", "Index", "Emails", new {area = "" }, new { @class = "dropdown-item" })
                                }
                                @Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Cart", "ViewCart", "ShoppingCarts", new { area = "" }, new { @class = "nav-link text-info" })</li>
                        <li>@Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "nav-link text-light" })</li>
                        <li>@Html.ActionLink("Register", "Register", "Home", new { area = "" }, new { @class = "nav-link text-light" })</li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content flex-grow-1" ">
        @RenderBody()
        @*<hr />*@
    </div>

    <section class="mt-5">
        <!-- Footer -->
        <footer class="footer mt-auto text-center text-white" style="background-color: rgb(33, 37, 41, 0.8);">
            <!-- Grid container -->
            @if (Session["UserType"] == "customer")
            {
            <div class="container p-4 pb-0">
                <!-- Section: CTA -->
                <section class="">
                    <p class="d-flex justify-content-center align-items-center">
                        @Html.ActionLink("Send a Query", "Create", "UserQueries", new { area = "" }, new { @class = "btn btn-outline-light btn-rounded me-2" })
                        @Html.ActionLink("Send a Comment", "Create", "UserComments", new { area = "" }, new { @class = "btn btn-outline-light btn-rounded ms-2" })
                    </p>
                </section>
            </div>
            }
            <!-- Grid container -->
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                @DateTime.Now.Year - iClothing
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">@ViewBag.Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal-body" class="modal-body">
                    @ViewBag.Message
                </div>
                <div class="modal-footer">
                    <button id="modal-close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        window.onkeydown = function (event) {
            if (event.keyCode === 27 || event.keyCode === 13 || event.keyCode === 32) {
                $('.modal').modal('hide');
            }
        }
    </script>

    @if (ViewBag.Message != null)
    {
        <script>
            window.onload = function () {
                $('#staticBackdrop').modal('show');
            };
        </script>

        @(ViewBag.Message = null)
    }

</body>
</html>
