
@{
    ViewBag.Title = "AdminDashboard";
}

<h2>AdminDashboard</h2>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Manage Billing", "AdminBillingManager", "Tools", null, new { @class = "btn btn-secondary me-1" })</h2>
        <p>Manage the billing of orders</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Manage Shipping", "AdminShippingManager", "Tools", null, new { @class = "btn btn-secondary me-1" })</h2>
        <p>Manage the shipping of orders</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Manage Database", "AdminManagementDashboard", "Home", null, new { @class = "btn btn-secondary me-1" })</h2>
        <p>Links to Manage the Database Tables</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Customer Queries", "Index", "UserQueries", null, new { @class = "btn btn-secondary me-1" })</h2>
        <p>Review Queries</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Administrators", "Index", "Administrators", null, new { @class = "btn btn-secondary me-1" })</h2>
        <p>Administrators Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Your Emails", "PersonalIndex", "AdminEmails", null, new { @class = "btn btn-secondary me-1" })</h2>
        <p>Emails sent to you</p>
    </div>
</div>
