@model IClothingApplication.Models.UserPassword
@{
    ViewBag.Title = "RegisterPassword";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    @using (Html.BeginForm("RegisterPassword", "Home", FormMethod.Post, new { role = "form" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            @Html.LabelFor(m => m.userAccountName, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.userAccountName, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.userEncryptedPassword, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.userEncryptedPassword, new { @class = "form-control" })
            </div>
        </div>

        @*@(Model.passwordExpiryTime = 100)
            @(Model.userAccountExpiryDate = new DateTime())
            @(Model.customerID = (ViewBag.userType == "customer" ? ViewBag.userID : null))
            @(Model.adminID = (ViewBag.userType == "admin" ? ViewBag.userID : null))*@

        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-outline-dark" />
            </div>
        </div>
    }
</main>