@model IClothingApplication.Models.Customer
@{
    ViewBag.Title = "Register";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br />
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <form class="row g-3">
            <div class="col-12" style="margin-top: 5px">
                @Html.LabelFor(a => a.customerName, "Name", new { @class = "form-label", @style = "max-width: none;" })
                @Html.TextBoxFor(a => a.customerName, new { @class = "form-control", @style = "max-width: none;" })
                @Html.ValidationMessageFor(a => a.customerName)
            </div>
            <div class="col-12" style="margin-top: 5px">
                @Html.LabelFor(a => a.customerEmail, "Email", new { @class = "form-label", @style = "max-width: none;" })
                @Html.TextBoxFor(a => a.customerEmail, new { @class = "form-control", @style = "max-width: none;" })
                @Html.ValidationMessageFor(a => a.customerEmail)
            </div>
            <div class="col-12" style="margin-top: 5px">
                @Html.LabelFor(a => a.customerShippingAddress, "Shipping Address", new { @class = "form-label", @style = "max-width: none;" })
                @Html.TextBoxFor(a => a.customerShippingAddress, new { @class = "form-control", @style = "max-width: none;" })
                @Html.ValidationMessageFor(a => a.customerShippingAddress)
            </div>
            <div class="col-12" style="margin-top: 5px">
                @Html.LabelFor(a => a.customerBillingAddress, "Billing Address", new { @class = "form-label", @style = "max-width: none;" })
                @Html.TextBoxFor(a => a.customerBillingAddress, new { @class = "form-control", @style = "max-width: none;" })
                @Html.ValidationMessageFor(a => a.customerBillingAddress)
            </div>
            <div class="col-12" style="margin-top: 5px">
                @Html.LabelFor(a => a.customerDOB, "Date of Birth", new { @class = "form-label", @style = "max-width: none;" })
                @Html.TextBoxFor(a => a.customerDOB, new { @class = "form-control", @style = "max-width: none;" })
                @Html.ValidationMessageFor(a => a.customerDOB)
            </div>
            <div class="col-12" style="margin-top: 5px">
                @Html.LabelFor(a => a.customerGender, "Gender", new { @class = "form-label", @style = "max-width: none;" })
                @Html.TextBoxFor(a => a.customerGender, new { @class = "form-control", @style = "max-width: none;" })
                @Html.ValidationMessageFor(a => a.customerGender)
            </div>
            <div class="col-12" style="margin-top: 15px">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
