@model IClothingApplication.Models.Customer
@{
    ViewBag.Title = "Register";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br />
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    @Html.LabelFor(a => a.customerName, "Name", new { @class = "form-label" })
                    @Html.TextBoxFor(a => a.customerName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.customerName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    @Html.LabelFor(a => a.customerEmail, "Email", new { @class = "form-label" })
                    @Html.TextBoxFor(a => a.customerEmail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.customerEmail, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    @Html.LabelFor(a => a.customerShippingAddress, "Shipping Address", new { @class = "form-label" })
                    @Html.TextBoxFor(a => a.customerShippingAddress, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.customerShippingAddress, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    @Html.LabelFor(a => a.customerBillingAddress, "Billing Address", new { @class = "form-label" })
                    @Html.TextBoxFor(a => a.customerBillingAddress, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.customerBillingAddress, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    @Html.LabelFor(a => a.customerDOB, "Date of Birth", new { @class = "form-label" })
                    @Html.TextBoxFor(a => a.customerDOB, new { @class = "form-control", type = "date" })
                    @Html.ValidationMessageFor(a => a.customerDOB, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    @Html.LabelFor(a => a.customerGender, "Gender", new { @class = "form-label" })
                    @Html.TextBoxFor(a => a.customerGender, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.customerGender, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="mb-5 mt-3">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </div>
    }
</main>
